---
layout: layout: root_template
title: Me
---
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h2>for good future</h2>
            <hr>
            {% for post in paginator.posts %}
                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <p>
                    <span class="glyphicon glyphicon-time"> Posted on {{ post.date | date: "%F" }}</span>
                </p>
                <p>
                    Key words:&nbsp
                    {% for key in post.categories%}
                         <span class="label label-info">{{ key }}</span>
                    {% endfor %}
                </p>
                <a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}" >
                    Read More
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <hr>
            {% endfor %}
            <!-- Pagination links -->
            <nav aria-label="Page navigation">
                <ul class="pager">
                        <li><a href="{{ paginator.previous_page_path }}">Previous</a></li>
                        <li><a href="{{ paginator.next_page_path }}">Next</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="well">
                <h4>Categories</h4>
                {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }} 
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                {% endfor %}
            </div>
            <div class="well">
                <h4>Recent post</h4>
                {% for post in site.posts offset:0 limit:10 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
