---
layout: default
title: Me
---
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            {% for post in paginator.posts %}
                <div class="row" style="margin-bottom: 15px">
                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                    <div class="col-md-8">
                        <p class="glyphicon text-center">by {{ post.author }} / {{ post.date | date: "%F" }}</p>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-primary pull-right" href="{{ post.url | prepend: site.baseurl }}" >
                            阅读更多
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                <hr>
                </div>
            {% endfor %}
            <!-- Pagination links -->
            <nav aria-label="Page navigation">
                <ul class="pager">
                        <li><a href="{{ paginator.previous_page_path }}">Previous</a></li>
                        <li><a href="{{ paginator.next_page_path }}">Next</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="well">
                <h4>近期文章</h4>
                {% for post in site.posts offset:0 limit:10 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </div>
            <div class="well">
                <h4>分类目录</h4>
                {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }} 
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                {% endfor %}
            </div>

        </div>
    </div>
